h3{
    color: brown;
}


.box{
 background-color:rgb(17, 238, 164);
 
 margin: auto;
 padding: 20px;
 max-width: 420px;
 width: 100%;
 border-radius: 10px;
 border-style: outset;


}


.input{
    background-color:rgb(250, 245, 239);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border-style: outset;
    
}

button{


    padding: 16px;
    border-radius: 10px;
    background: darkblue;
    color: aquamarine;
    font-size: x-large;
    font-weight: 600;
    margin-top: 10px;
}


h1{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: darkblue;
    padding-left: 10px;
    border-style: outset;
    
}


span{
    font-weight: 700;
    font-size: large;
    color: darkblue;
}


.app{
    background-image: -moz-linear-gradient();
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/Alarm4);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.image{
    text-align: center;
    margin: auto;
}

.datedisplay{
    font-size: xx-large;
    color: darkblue;
    font-weight: 800;
}

.bigspace{
    padding-bottom: 70px;
}


img.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }