.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 18px;
    text-align: center;
  }



  .grid-items{
    background-color: #8697C4;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-style: outset;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: white;
  }

  .grid-items:hover{
    background-color: #bfcbe4;
    cursor: pointer;
}