h2{background: #3D52A0;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    
    font-weight: 500;
}


/* override standard component using hooks
Namespace + Scope + Component + Category + Property */


.slds-badge{
    --slds-c-badge-color-background:#ADBBDA;
    --slds-c-badge-text-color:#181818;
    --slds-c-badge-font-size:15px;
}