.accor{
    background: white;
}

.show-tabs-on-desktop-view{
    display: block;
}


.show-tabs-on-mobile-view{
    display: none;
}
@media(max-width:1024px){
.show-tabs-on-desktop-view{
    display: none;
}

.show-tabs-on-mobile-view{
    display: block;
}
}